{{>head }}

{{>navbar}}

     <div class="container" style="margin-top:20px">
         <div class="row">
             <div class="col-8">
                 <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quia vitae, voluptatibus asperiores aspernatur ab, dignissimos commodi repellat vero voluptates nostrum pariatur deleniti consequuntur doloremque sapiente! Quia recusandae tenetur similique?
                 </p>
             </div>
             <div class="col-4">
                 <img src="./views/img/universo.jpg" alt="" class="img-thumbnail">
             </div>
         </div>
     </div>

{{>footer }}